<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{example.text}}</h5>
          <p>
            <strong>Post ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Post Title</strong>: {{example.text}}</p>
          <p>
            <strong>Post Body</strong>: {{example.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          {{#each comments}}
            <h5 class="card-title">{{this.id}}</h5>
            <p>
            <strong>Comment</strong>: {{this.comment}}</p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
